.git
.gitignore
.venv
hms
__pycache__
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
*.sqlite3
*.log
node_modules
Screenshots
task3-data
task3-algorithms/models
task3-algorithms/*.log
Documents
HMS/logs
HMS/staticfiles
