{% include 'incs/head.html' %}

<body class="bg-hotel">
    {% include 'incs/nav.html' %}

    <main class="site-main">
        {% if messages %}
        <div class="container pt-3">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags|default:'info' }} shadow-sm" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block context %}

        {% endblock %}
    </main>

    {% include 'incs/footer.html' %}

</body>

</html>